<span id="description"></span>
<span id="work"></span>
<span id="hobbies"></span>

<script>
    new Typed("#description", {
        stringsElement: "#description-strings",
        backSpeed: 10,
        typeSpeed: 30,
        backDelay: 1000,
        loop: true,
        smartBackspace: true,
    });

    new Typed("#work", {
        stringsElement: "#work-strings",
        backSpeed: 10,
        typeSpeed: 30,
        backDelay: 1000,
        loop: true,
        smartBackspace: true,
    });

    new Typed("#hobbies", {
        stringsElement: "#hobbies-strings",
        backSpeed: 10,
        typeSpeed: 30,
        backDelay: 1000,
        loop: true,
        smartBackspace: true,
    });
</script>
